.select {
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-top: 4px;
}

.label {
    color: #808080;
    font-size: 12px;
    line-height: 16px;
}
