.orgTabs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 12px
}

@media (max-width: 768px) {
    .orgTabs {
        flex-direction: column;
    }
}
