.item {
    background: #F2F2F2;
    border-radius: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: #005DA1;
    color: #fff;
}

.button {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .item {
        width: 100%;
    }
}
