.page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1280px;
    padding: 10px;
}

.title {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .container {
        width: 500px;
    }

    .title {
        margin-bottom: 20px;
    }
}
