* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    color: inherit;
    background: transparent;
}

body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    line-height: 19px;
    color: #262626;
}
